<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <section id="feature">
        <div class="title-text">
            <p> FEATURES</p>
            <h1>Why choose us?</h1>
        </div>
        <div class="feature-box">
            <div class="features">
                <h1>Experienced Staff</h1>
                <div class="features-desc">
                    <div class="features-icon">
                        <i class="fa fa-shield"></i>
                    </div>
                    <div class="features-text">
                        <p>
                            This part explains the features that we have in this salon which includes experienced
                            staffs, new haircuts, keratin treatments.
                        </p>
                    </div>
                </div>
                <h1>Pre Booking Online</h1>
                <div class="features-desc">
                    <div class="features-icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="features-text">
                        <p>
                            This part explains the features that we have in this salon which includes experienced
                            staffs, new haircuts, keratin treatments.
                        </p>
                    </div>
                </div>
                <h1>Affordable Cost</h1>
                <div class="features-desc">
                    <div class="features-icon">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="features-text">
                        <p>
                            This part explains the features that we have in this salon which includes experienced
                            staffs, new haircuts, keratin treatments.
                        </p>
                    </div>
                </div>
            </div>
            <div class="features-img">
                <img src="images/barber-man.jpg">
            </div>
        </div>
    </section>
</body>
</html>