<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <section id="service">
        <div class="title-text">
            <p> SERVICES</p>
            <h1>We provide better</h1>
        </div>
        <div class="service-box">
            <div class="single-service">
                <img src="images/s1 (1).jpg">
                <div class="overlays"></div>
                <div class="service desc">
                    <h3>Hair Styling</h3>
                    <p>
                        This is the text under barber foundation.
                    </p>
                </div>
            </div>
            <div class="single-service">
                <img src="images/s2.jpg">
                <div class="overlays"></div>
                <div class="service desc">
                    <h3>Beard Trim</h3>
                    <hr>
                    <p>
                        This is the text under barber foundation.
                    </p>
                </div>
            </div>
            <div class="single-service">
                <img src="images/s3.jpg">
                <div class="overlays"></div>
                <div class="service desc">
                    <h3>Hair Shampoo</h3>
                    <hr>
                    <p>
                        This is the text under barber foundation.
                    </p>
                </div>
            </div>
            <div class="single-service">
                <img src="images/pic-4.jpg">
                <div class="overlays"></div>
                <div class="service desc">
                    <h3>Hair Cut</h3>
                    <hr>
                    <p>
                        This is the text under barber foundation.
                    </p>
                </div>
            </div>
        </div>
    </section>




</body>
</html>